
.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    min-height: 80vh;

    .hero-section {
        background: url('../media/dog.jpg') no-repeat center center/cover;
    }
}


.sammelsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 40px;
    margin-bottom: 40px;

    .sammelstellenliste {

        display: flex;
        align-items: flex-start;
        flex-direction: column;
        min-width: 480px;
        gap: 20px;

        .sammelstelle {

            width: 100%;
            padding: 16px 32px;
            border-radius: 8px;
            border: 1px solid #ddd;
            border-left: 5px solid #83c652;


        }
    }

}

.images-section {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-bottom: 40px;

    img {
        height: 400px;
        width: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s;
    }
    img:hover {
        transform: scale(1.05); /* Slight zoom effect on hover */
    }

}


@media (max-width: 768px) {


    .sammelsection {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 0;

        .map iframe {
            width: 100%;
        }

        .sammelstellenliste {

            padding: 10%;
            min-width: 100%;
            gap: 10px;

            .sammelstelle {

                width: 100%;
                padding: 16px 32px;
                border-radius: 8px;
                border: 1px solid #ddd;
                border-left: 5px solid #83c652;


            }
        }

    }

    .images-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 40px;
        gap: 20px;
        margin-bottom: 40px;

        img {
            height: auto;
            width: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }
        img:hover {
            transform: scale(1.05); /* Slight zoom effect on hover */
        }

    }



}